@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: "Roboto", sans-serif;

}

:root {
    --blue-one-price-button: #01cbfe;
    --blue-two-color-button: #01cbfe;
    --black: #111;
    --gray: #b2b2b2;
    --white: #fff;

}

header h1 {
    text-align: center;
}

section {
    display: block;
    background-color: var(--black);
    margin: 20px;
    padding: 40px 20px;
    border-radius: 5px;
}

h2 {
    color: var(--white);
}

p {
    color: var(--gray);
    font-weight: bold;
    margin: 15px 0;
}

.blue {
    color: var(--blue-one-price-button);
}

#button-buy {
    background-color: var(--blue-two-color-button);
    border-radius: 5px;
    color: var(--black);
    display: inline-block;
    font-weight: bold;
    padding: 10px;
}

#button-buy a {
    text-decoration: none;
    color: var(--black);
}